/*
body {
	margin: 20px;
}*/

/*
#editor {
	position: relative;
	top: 200px;
	right: 0;
	bottom: 100px;
	left: 0;
}
*/

body { 
	padding-top: 51px;
}

.container-fluid {
    margin-bottom: -20px;
}

html, body {
    height: 100%;
}

.fill-height {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}

.fill-height-scroll {
    height: 100%;
    overflow-y: auto;
}

.editor-height {
    height: calc(100% - 101px);
    overflow-y: hidden;
}

#editor {
    height: 100%;
    overflow-y: auto;
}

#gameCanvas {
	margin: 20px;
}

#api {
    padding: 15px;
}

.center {
	text-align: center;
}

.toshow
{
  	display:none;
}

.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
}

#results {
	padding: 15px;
	min-height: 100px;
}

.left-border {
    border-left: 1px solid #eee;
}

.top-border {
    border-top: 1px solid #eee;
}
