/*
body {
	margin: 20px;
}*/

/*
#editor {
	position: relative;
	top: 200px;
	right: 0;
	bottom: 100px;
	left: 0;
}
*/

body { 
	padding-top: 51px;
}

.container-fluid {
    margin-bottom: -20px;
}

html, body {
    height: 100%;
}

.fill-height {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}

.fill-height-scroll {
    height: 100%;
    overflow-y: auto;
}

.editor-height {
    height: calc(100% - 101px);
    overflow-y: hidden;
}

.panel-height {
	height: calc(100% - 40px);
	overflow-y: auto;
}

#editor {
    height: 100%;
    overflow-y: auto;
}

#gameCanvas {
	margin: 20px;
}

#api {
    padding: 15px;
}

.tab-pane {
	padding: 15px;
}

.nav-padded {
	padding-left: 15px;
	padding-top: 15px;
}

.center {
	text-align: center;
}

.center-responsive {
	margin: 0 auto;
}

.toshow
{
  	display:none;
}


@media (min-width: 768px){
    .navbar li {
        margin-right : 1em;
    }
}

.navbar-nav {
	margin: 0px 0px;
}

#results {
	padding: 15px;
	min-height: 100px;
}

.left-border {
    border-left: 1px solid #eee;
}

.top-border {
    border-top: 1px solid #eee;
}
